:root {
  --accent: 74, 22, 156;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
}
html {
  font-family: system-ui, sans-serif;
  background: #1d1d1d;
  background: linear-gradient(175deg, rgba(33,25,51,1) 0%, rgba(5,11,23,1) 58%, rgba(0,0,0,1) 100%);   color: rgb(255, 255, 255);
  background-size: 224px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "supplymono", monospace;
  font-weight: bold;
  line-height: 1;
}

a:hover {
  color: rgb(var(--accent));
}

p{
  margin-bottom: 1rem
}

.wrapper {
  max-width: calc(1200px - (30px));
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 800px) {
  .wrapper {
    max-width: calc(1200px - (30px * 2));
    padding-right: 30px;
    padding-left: 30px;
  }
}
