---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import Me from "../assets/images/hello-world.jpg";
---

<Layout title="Daniel Milenkovic - About">
  <h1 class="text-4xl mt-5">About</h1>
  <div class="mt-20 w-full flex justify-center">
    <div class="max-w-lg">
      <p>
        Hi, my name is Daniel Milenkovic, currently based in Winterthur,
        Switzerland.
      </p>

      <p>
        I started this life in 1993 and from early on wished to become an
        architect. Plans change and during school I developed a proficiency for
        code, which led me into the world of programming and obtaining a
        bachelor's degree in Computer Science.
      </p>

      <p>
        Near the end of 2020 I rediscovered my passion for art, which turned
        into a beautiful journey exploring the human figure, whereby I focus
        mostly on traditional techniques such as oil painting and pencil
        drawings.
      </p>

      <p>
        Each of my works is a window through my personal perspective of our
        shared reality. My goal is to awaken new insights and connect with my
        emotions through my art.
      </p>

      <p>
        Feel free to contact me directly via <a
          class="font-bold"
          href="mailto:danielmilenkovic@proton.me">danielmilenkovic@proton.me</a
        > or via <a
          class="font-bold"
          href="https://instagram.com/danielmilenkovic.art"
          target="_blank">instagram</a
        >. I'm looking forward to be hearing from you.
      </p>
    </div>
  </div>
</Layout>

<style>
  h1 {
    color: var(--accent-gradient);
  }
</style>
