---
import type { CollectionEntry } from "astro:content";
import LocalImage from "./LocalImage.astro";
import Filter from "./Filter.astro";

interface Props {
  posts: CollectionEntry<"gallery">[];
  tag?: string | undefined;
}

const { tag, posts } = Astro.props;
---

<div>
  <Filter tag={tag} />
  <div class="grid md:grid-cols-3 sm:grid-cols-2 xs:grid-cols-1 gap-5">
    {
      posts
        .filter((post) => !post.data.hidden && post.data.image)
        .map((post) => (
          <div>
            <a href={`/gallery/${post.slug}`}>
              <LocalImage
                imageUrl={post.data.image!}
                alt={post.data.title}
                width={650}
              />
            </a>
          </div>
        ))
    }
  </div>
</div>
