<div class="wrapper">
  <h2>Subscribe to my substack</h2>
  <iframe
    src="https://danielmilenkovic.substack.com/embed"
    width="480"
    height="150"
    style="border:0; border-radius: 10px; background:transparent;"
    frameborder="0"
    scrolling="no"></iframe>
  <p class="mt-10">© {new Date().getFullYear()} Daniel Milenkovic</p>
</div>
