---
import "../styles/fonts.css";
import "../styles/global.css";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <header class="pb-10 pt-5">
      <div class="wrapper grid grid-flow-col grid-cols-3">
        <div class="text-3xl font-normal logo col-span-2">
          <a href="/">Daniel Milenkovic</a>
        </div>

        <nav>
          <ul class="grid grid-flow-row md:grid-flow-col place-items-end text-lg gap-2 justify-right">
            <li>
              <a href="/">Gallery</a>
            </li>
            <li>
              <a href="/">Shop</a>
            </li>

            <li>
              <a href="/about">About</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="pb-10">
      <div class="wrapper">
        <slot />
      </div>
    </main>

    <footer class="pb-10">
      <div class="wrapper">
        <div
          class="border-violet-800 border-solid border-t pt-5 grid grid-flow-col"
        >
          <div>© {new Date().getFullYear()} Daniel Milenkovic</div>
          <div class="text-right">
            <a href="https://instagram.com/danielmilenkovic.art" target="_blank"
              >Instagram</a
            >
            <a
              href="https://https://danielmilenkovic.substack.com/"
              target="_blank">Substack</a
            >
          </div>
        </div>
      </div>
    </footer>

    <style>
      .logo {
        width: 200px;
        word-wrap: break-word;
      }
      .logo:hover {
        color: rgb(var(--accent));
      }

      footer h2 {
        font-weight: 400;
        font-size: 2rem;
      }
    </style>
  </body>
</html>
