---
import LocalImage from "@components/LocalImage.astro";
import Layout from "@layouts/Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <div class="flex flex-row gap-10">
    <div class="basis-2/3">
      <LocalImage
        imageUrl={frontmatter.image}
        alt={frontmatter.title}
        width={1350}
      />
    </div>
    <div class="basis-1/3">
      <slot />

      next prev
    </div>
  </div>
</Layout>
